<div class="container-fluid">
    <h1>Bootstrap Enrolment Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>


      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" required #name = 'ngModel' class="form-control" [class.is-invalid]='name.invalid && name.touched' name="Name" [(ngModel)] = 'userModel.name'>
        <small class="text-danger" [class.d-none] = 'name.valid || name.untouched'>Name is required</small>
      </div>


      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" [(ngModel)] = 'userModel.email'>
      </div>

      <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="tel" #phone='ngModel' pattern='^\d{10}$' required [class.is-invalid] = "phone.invalid && phone.touched" class="form-control" name="Phone" [(ngModel)] = 'userModel.phone'>
        <!-- <small class="text-danger" [class.d-none]= 'phone.valid || phone.untouched'>Phone number is required and must be 10 digits</small> -->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>

        </div>
      </div>

      <div class="form-group">
        <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"  #topic="ngModel" class="custom-select" [class.is-invalid]='topicHasError && topic.touched' name="topic" [(ngModel)] = 'userModel.topic'>
          <option value="default">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]='!topicHasError || topic.untouched'>Please choose a topic</small>

      </div>

      <div class="mb-3">
        <label>Time Preference</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)] = 'userModel.timePreference'>
          <label class="form-check-label">Morning (9AM - 12PM)</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)] = 'userModel.timePreference'>
          <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
      </div>

      <div class="mb-3 form-check">
          <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)] = 'userModel.subscribe'>
          <label class="form-check-label">
            Send me promotional offers
          </label>
        </div>

        <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit Form</button>


    </form>
</div>