<div class="container-fluid">
    <h1>Bootstrap Enrolment Form</h1>
    <form #userform="ngForm">

      {{ userform.value | json }}

      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" ngModel>
      </div>

      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" ngModel>
      </div>

      <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="tel" class="form-control" name="Phone" ngModel>
      </div>

      <div class="form-group">
        <select class="custom-select" name="topic" ngModel>
          <option selected>I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>

      </div>

      <div class="mb-3">
        <label>Time Preference</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="morning" ngModel>
          <label class="form-check-label">Morning (9AM - 12PM)</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="timePreference" value="evening" ngModel>
          <label class="form-check-label">Evening (5PM - 8PM)</label>
        </div>
      </div>

      <div class="mb-3 form-check">
          <input class="form-check-input" type="checkbox" name="subscribe" ngModel>
          <label class="form-check-label">
            Send me promotional offers
          </label>
        </div>
    </form>
</div>